# Ignore node_modules
node_modules/

# Ignore build files
dist/
build/

# Ignore envs
.env

# Ignore logs
*.log

# Ignore operational system files
.DS_Store

# Ignore IDEs
.vscode/
.idea/

# Ignore typescript files
lib/

# Ignore firebase files
firebase-adminsdk.json
firebase.json
.firebaserc